# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Build results #
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
*bin/
*/bin*
*obj/
*/obj*
[Oo]bj/
# build folder is nowadays used for build scripts and should not be ignored
#build/

# NuGet Packages #
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
#!**/packages/repositories.config

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

# Visual Studio Code
.vscode/
*vscode/
*vscode*

# Visual Studio
.vs

#Office VSTO add-in 
*/**/Properties
*Properties/
*/Properties*
.suo
.lock
*.ide
*.resx*
*.settings*
.cache

*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release

# Project file types
*.txt
*.csv
*.json

# Keys
*.pfx
